<!DOCTYPE html>
<html>
  <head>
        <title>Somos tu puente. Unimos.</title>
    <meta name="description" content="Conectamos ONGs con empresas que quieran donar.">
    <meta charset="utf-8">

  </head>
  <body>
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_url "manos.jpg" %>);">
      <div class="container">
        <h1><strong>Somos tu puente</strong></h1>
        <p>Conectamos empresas con ONGs para lograr donaciones que tengan impacto social.</p>
        <a class="button" href="#proyectos"><strong>¡Conocé los proyectos!</strong></a>
      </div>
    </div>

      <div class="container bg-light2" id="proyectos">
        <h4><strong>Principales proyectos</strong></h4>
        <div class="row">
          <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card h-100 shadow p-3 mb-5 bg-body rounded">
                <div class="containeroverlay">
                  <%= image_tag "logomujeres2000.png", alt: "Somos tu puente", style: 'width:100%' %>
                  <div class="overlay">
                    <%= image_tag "mujeres20001.jpg", alt: "Somos tu puente", style: 'width:100%' %>
                  </div>
                </div>
                <div class="card-body">
                  <h5 class="card-title font-italic"><strong>Acceder estudiando</strong></h5>
                  <p class="card-text">
                  <p class="text-justify ">El Programa Acceder Estudiando busca <strong>facilitar el acceso</strong> a
                  la educación a través de una ayuda económica mensual que le permite solventar gastos de
                  estudio, acompañamiento individual y asistencia académica a 5 jóvenes de barrios vulnerables
                  de la provincia de Buenos Aires. </p>
                  <p><i class="far fa-calendar-alt"></i> 6 meses</p>
                  <p><i class="fas fa-hand-holding-usd"></i> $180.000</p>
                  <p><i class="fas fa-graduation-cap"></i> Educación</p>
                  <p><i class="fas fa-map-marker-alt"></i> Buenos Aires</p>
                  <div class="progress">
                    <div class="progress-bar bg-warning " role="progressbar" style="width: 60%" aria-valuenow="25"
                    aria-valuemin="0" aria-valuemax="100">60% recaudado</div>
                    </div>
                    <br>
                    <div class="text-center">
                    <button type="button" class="button"><strong>Quiero Donar</strong></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100 shadow p-3 mb-5 bg-body rounded">
                <div class="containeroverlay">
                  <%= image_tag "mujeres20001.jpg", alt: "Somos tu puente", style: 'width:100%' %>
                  <div class="overlay">
                    <%= image_tag "logohaciendo.png", alt: "Somos tu puente", style: 'width:100%' %>
                  </div>
                </div>
                <div class="card-body">
                  <h5 class="card-title font-italic"><strong>Prevención de la desnutrición infantil</strong></h5>
                  <p class="card-text">
                  <p class="text-justify ">Diagnóstico, prevención y recuperación nutricional de 50 niños de 0
                    a 5 años de la localidad de Monte Quemado, provincia de Santiago del Estero. Mediante esta
                    donación los niños estarían accediendo semanalmente a 2kg leche, 48 pañales y los suplementos
                    tricionales que necesitan.
                  </p>
                  <p><i class="far fa-calendar-alt"></i> 6 meses</p>
                  <p><i class="fas fa-hand-holding-usd"></i> $426.000</p>
                  <p><i class="fas fa-medkit"></i> Salud</p>
                  <p><i class="fas fa-map-marker-alt"></i> Santiago del Estero</p>
                  <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 10%" aria-valuenow="25"
                    aria-valuemin="0" aria-valuemax="100">10%</div>
                    </div>
                    <br>
                    <div class="text-center">
                    <button type="button" class="button"><strong>Quiero Donar</strong></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100 shadow p-3 mb-5 bg-body rounded">
                <div class="containeroverlay">
                  <%= image_tag "logopilares.png", alt: "Somos tu puente", style: 'width:100%' %>
                  <div class="overlay">
                    <%= image_tag "pilares.jpg", alt: "Somos tu puente", style: 'width:100%' %>
                  </div>
                </div>
                <div class="card-body">
                  <h5 class="card-title font-italic"><strong>Centro de Cuidados Oportunos Para la Primera Infancia en Familia</strong></h5>
                  <p class="card-text">
                  <p class="text-justify ">El proyecto busca promover el bienestar y la salud integral de 30
                  niños y niñas de entre 0 y 5 años que viven en la villa 21-24 de Barracas (CABA).
                  Se trabaja en 4 dispositivos diferentes: Embarazo y primer año de vida, prevención de
                  la desnutrición y malnutrición, prevención de violencia de género con las madres de niños
                  y un dispositivo de juego y estimulación para el desarrollo.</p>
                  <p><i class="far fa-calendar-alt"></i> 12 meses</p>
                  <p><i class="fas fa-hand-holding-usd"></i> $900.000</p>
                  <p><i class="fas fa-medkit"></i> Salud</p>
                  <p><i class="fas fa-map-marker-alt"></i> CABA</p>
                  <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 60%" aria-valuenow="25"
                    aria-valuemin="0" aria-valuemax="100">60% recaudado</div>
                    </div>
                    <br>
                    <div class="text-center">
                    <button type="button" class="button"><strong>Quiero Donar</strong></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="container-fluid bg-white" id="comofunciona">
      <div class="container bg-white">
        <h4><strong>¿Cómo funciona?</strong></h4>
        <div class="row">
          <div class="col-sm">
            <div class="card-product bg-white">
                <%= image_tag "paso1.png", alt: "Somos tu puente", style: 'width:150px' %>
              <div class="card-product-infos">
               <p>La ONG carga el proyecto que quiere promocionar para recibir donaciones.</p>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card-product bg-white">
                <%= image_tag "paso2.png", alt: "Somos tu puente", style: 'width:150px' %>
              <div class="card-product-infos">
               <p>La empresa busca el proyecto para realizar su donación.</p>
              </div>
            </div>
          </div>
           <div class="col-sm">
            <div class="card-product bg-white">
                <%= image_tag "paso3.png", alt: "Somos tu puente", style: 'width:150px' %>
              <div class="card-product-infos">
               <p>La empresa selecciona el proyecto que desea.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <div class="card-product bg-white">
              <%= image_tag "paso4.png", alt: "Somos tu puente", style: 'width:150px' %>
              <div class="card-product-infos">
              <p>La empresa recibe la información con los datos de la ONG para realizar la donación.</p>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card-product bg-white">
              <%= image_tag "paso5.png", alt: "Somos tu puente", style: 'width:150px' %>
              <div class="card-product-infos">
              <p>La empresa y la ONG reciben una notificación de la donación realizada.</p>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card-product bg-white">
              <%= image_tag "paso6.png", alt: "Somos tu puente", style: 'width:150px' %>
              <div class="card-product-infos">
              <p>La empresa recibe un reporte con los avances y logros del proyecto.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="container" id="porque">
      <div class="row">
        <div class="col">
        </div>
        <div class="col-8">
          <h3 class="text-center"><strong>¿Por qué creamos un puente?</strong></h3>
          <p class="text-justify">La tarea que realizan las ONGs junto con las donaciones de las empresas es
          fundamental para generar un cambio social y ambiental. El vínculo entre ambas partes crea este ciclo
          de ayuda que se retroalimenta y produce un impacto positivo. Por eso creamos Somos Tu Puente: el puente
          que simplifica la relación entre las empresas y las ONGs para lograr donaciones más eficientes y
          productivas.</p>
          <div class="container text-center">
            <div class="row row-cols-2">
              <div class="col"><i class="far fa-handshake"></i> Compromiso</div>
              <div class="col"><i class="fas fa-users"></i> Trabajo en equipo</div>
              <div class="col"><i class="fas fa-user-tie"></i> Profesionalismo</div>
              <div class="col"><i class="fas fa-hand-holding-water"></i> Gestión transparente</div>
            </div>
          </div>
        </div>
        <div class="col">
        </div>
      </div>
  </div>
  <div class="container-fluid bg-white" id="quienessomos">
    <div class="container">
      <h3><strong>¿Quiénes somos?</strong></h3>
      <div class="row">
        <div class="col">
          <div class="card-product-1 bg-white">
            <%= image_tag "victoria.jpg", class: "avatar", alt: "avatar" %>
            <div class="card-product-infos-1">
              <h2>Victoria Kennedy</h2>
              <p>Lic. en Comunicación Periodística.
              Voluntaria en el Barrio 31 de la Ciudad de Bs. As., en Colonia Barragan,
              Mar del Plata y Un Techo para mi País. Experiencia laboral en Cáritas Buenos Aires y
              Ministerio de Desarrollo Social de GCBA.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card-product-1 bg-white">
              <%= image_tag "juli.jpg", class: "avatar", alt: "avatar" %>
              <div class="card-product-infos-1  ">
                <h2>Julieta Iribarne</h2>
                <p>Maestra para el nivel primario.
                Voluntaria en la Villa 21-24, Villa Soldati, Geriátrico en la Ciudad de Bs As. Experiencia laboral
                Tutorías pedagógicas en la Fundación Haciendo Camino y
                Apoyo escolar a niños del nivel primario y secundario.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

   <div class="container">
    <div class="footer">
      <div class="footer-links">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="far fa-envelope"></i></a>
      </div>
      <div class="footer-copyright">
        Proyecto hecho con <i class="fas fa-heart"></i> de Somos tu Puente
      </div>
    </div>
   </div>
  </body>
</html>
