<!DOCTYPE html>
<html>
  <head>
        <title>Somos tu puente. Unimos.</title>
    <meta name="description" content="Conectamos ONGs con empresas que quieran donar.">
    <meta charset="utf-8">

  </head>
  <body>
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_url "manos.jpg" %>);">
      <div class="container">
        <h1><strong>Somos tu puente</strong></h1>
        <p>Conectamos empresas con ONGs para lograr donaciones que tengan impacto social.</p>
        <a class="button" href="#proyectos"><strong>¡Conocé los proyectos!</strong></a>
      </div>
    </div>
    <div class="container bg-light2" id="proyectos">
        <h4><strong>Principales proyectos</strong></h4>
        <div class="row">
          <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card h-100 shadow p-3 mb-5 bg-body rounded">
                <div class="card-projects">
                    <%= image_tag "mujeres20001.jpg", alt: "Somos tu puente", style: 'width:100%' %>
                    <p class= "mt-3 text-right"><%= image_tag "logomujeres2000.png", class: "avatar", alt: "avatar" %><strong> Mujeres 2000</strong></p>
                </div>
                <div class="card-body">
                    <div class="flip-card">
                      <div class="flip-card-inner">
                        <div class="flip-card-front">
                          <h5 class="card-title font-italic text-center bg-light"><strong>Acceder estudiando</strong></h5>
                          <p>El Programa Acceder Estudiando busca facilitar el acceso a
                          la educación...</p>
                          <p><i class="far fa-calendar-alt"></i> 6 meses  <i class="fas fa-hand-holding-usd"></i> $180.000</p>
                          <p><i class="fas fa-graduation-cap"></i> Educación  <i class="fas fa-map-marker-alt"></i> Buenos Aires</p>
                          <p class="text-right mt-5"><i class="fas fa-plus"></i> Información <i class="fas fa-arrow-circle-right"></i></p>
                        </div>
                        <div class="flip-card-back">
                          <h5 class="card-title font-italic text-center bg-light"><strong>Acceder estudiando</strong></h5>
                          <p class="text-left">El Programa Acceder Estudiando busca facilitar el acceso a
                          la educación a través de una ayuda económica mensual que le permite solventar gastos de
                          estudio, acompañamiento individual y asistencia académica a 5 jóvenes de barrios vulnerables
                          de la provincia de Buenos Aires. </p>
                        </div>
                      </div>
                    </div>
                    <div class="progress">
                      <div class="progress-bar bg-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                          <span>60% recaudado</span>
                      </div>
                    </div>
                    <br>
                    <div class="text-center">
                      <a type="button" class="button" href="https://docs.google.com/forms/d/e/1FAIpQLScVchhi6Woawl4q9BNGMSg3c2LBjBKjKXzY9NZsj5NXhtijHw/viewform?usp=sf_link"
                      target="_blank"><strong>Quiero Donar</strong></a>
                    </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100 shadow p-3 mb-5 bg-body rounded">
                <div class="card-projects">
                    <%= image_tag "mujeres20001.jpg", alt: "Somos tu puente", style: 'width:100%' %>
                    <p class= "mt-3 text-right"><%= image_tag "logomonte.png", class: "avatar", alt: "avatar" %><strong> Monte Adentro</strong></p>
                </div>
                <div class="card-body">
                   <div class="flip-card">
                      <div class="flip-card-inner">
                        <div class="flip-card-front">
                          <h5 class="card-title font-italic text-center bg-light"><strong>Taller de Oficios </strong></h5>
                          <p>El Programa Acceder Estudiando busca facilitar el acceso a
                          la educación...</p>
                          <p><i class="far fa-calendar-alt"></i> 11 meses   <i class="fas fa-hand-holding-usd"></i> $880.200</p>
                          <p><i class="fas fa-briefcase"></i> Inserción Laboral   <i class="fas fa-map-marker-alt"></i> Chaco</p>
                          <p class="text-right mt-5"><i class="fas fa-plus"></i> Información <i class="fas fa-arrow-circle-right"></i></p>
                        </div>
                        <div class="flip-card-back">
                          <p class="text-left ">Con el objetivo de empoderar a las mujeres y madres rurales para que puedan generar
                            ngresos que colaboren con el sostenimiento del hogar, brindamos talleres de oficios semanales con un enfoque
                            mprendedor en las disciplinas de tejido, costura, manualidades y gastronomía, dictados por profesoras locales
                            formadas en dichas disciplinas. Participan 180 mujeres y madres rurales.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="progress">
                      <div class="progress-bar bg-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">
                          <span>10% recaudado</span>
                      </div>
                    </div>
                    <br>
                    <div class="text-center">
                      <a type="button" class="button" href="https://docs.google.com/forms/d/e/1FAIpQLSf66TMaEng3WzhdBNHoCn4--y1ABNweXYrB10VcKm9kOe-s1w/viewform?usp=sf_link"
                      target="_blank"><strong>Quiero Donar</strong></a>
                    </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100 shadow p-3 mb-5 bg-body rounded">
                <div class="card-projects">
                  <%= image_tag "mujeres20001.jpg", alt: "Somos tu puente", style: 'width:100%' %>
                  <p class= "mt-3 text-right"><%= image_tag "logopilares.png", class: "avatar", alt: "avatar" %><strong> Pilares</strong></p>
                </div>
                <div class="card-body">
                    <div class="flip-card">
                      <div class="flip-card-inner">
                        <div class="flip-card-front">
                          <h5 class="card-title font-italic text-center bg-light"><strong>Primera infancia en familia</strong></h5>
                          <p>El Programa Acceder Estudiando busca facilitar el acceso a
                          la educación...</p>
                          <p><i class="far fa-calendar-alt"></i> 12 meses   <i class="fas fa-hand-holding-usd"></i> $900.000</p>
                          <p><i class="fas fa-medkit"></i> Salud  <i class="fas fa-map-marker-alt"></i> CABA</p>
                          <p class="text-right mt-5"><i class="fas fa-plus"></i> Información <i class="fas fa-arrow-circle-right"></i></p>
                        </div>
                        <div class="flip-card-back">
                          <h5 class="card-title font-italic text-center bg-light"><strong>Primera infancia en familia</strong></h5>
                          <p class="text-left ">El proyecto busca promover el bienestar y la salud integral de 30
                          niños y niñas de entre 0 y 5 años que viven en la villa 21-24 de Barracas (CABA).
                          Se trabaja en 4 dispositivos diferentes: embarazo y primer año de vida, prevención de
                          la desnutrición y malnutrición, prevención de violencia de género con las madres de niños
                          y un dispositivo de juego y estimulación para el desarrollo.</p>
                        </div>
                      </div>
                    </div>
                    <div class="progress">
                      <div class="progress-bar bg-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                          <span>60% recaudado</span>
                      </div>
                    </div>
                    <br>
                    <div class="text-center">
                      <a type="button" class="button" href="https://docs.google.com/forms/d/e/1FAIpQLSciBViHUdsj4RG09VGxyir7o5nF8jg2Y5XSJJs9jrEoslJ1YQ/viewform?usp=sf_link"
                      target="_blank"><strong>Quiero Donar</strong></a>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="container-fluid bg-white" id="comofunciona">
      <div class="container bg-white">
        <h4><strong>¿Cómo funciona?</strong></h4>
        <div class="row">
          <div class="col-sm">
            <div class="card-product bg-white">
              <div class="card-product-infos">
                <%= image_tag "paso1.png", alt: "Somos tu puente"%>
                <p>La ONG carga el proyecto que quiere promocionar para recibir donaciones.</p>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card-product bg-white">
              <div class="card-product-infos">
                <%= image_tag "paso2.png", alt: "Somos tu puente" %>
                <p>La empresa busca el proyecto para realizar su donación.</p>
              </div>
            </div>
          </div>
           <div class="col-sm">
            <div class="card-product bg-white">
              <div class="card-product-infos">
                <%= image_tag "paso3.png", alt: "Somos tu puente"%>
                <p>La empresa selecciona el proyecto que desea.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <div class="card-product bg-white">
              <div class="card-product-infos">
              <%= image_tag "paso4.png", alt: "Somos tu puente"%>
              <p>La empresa recibe la información con los datos de la ONG para realizar la donación.</p>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card-product bg-white">
              <div class="card-product-infos">
              <%= image_tag "paso5.png", alt: "Somos tu puente"%>
              <p>La empresa y la ONG reciben una notificación de la donación realizada.</p>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card-product bg-white">
              <div class="card-product-infos">
              <%= image_tag "paso6.png", alt: "Somos tu puente"%>
              <p>La empresa recibe un reporte con los avances y logros del proyecto.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="container" id="porque">
    <h4><strong>¿Por qué creamos un puente?</strong></h3>
          <p class="text-left">La tarea que realizan las ONGs junto con las donaciones de las empresas es
          fundamental para generar un cambio social y ambiental. El vínculo entre ambas partes crea este ciclo
          de ayuda que se retroalimenta y produce un impacto positivo. Por eso creamos Somos Tu Puente: el puente
          que simplifica la relación entre las empresas y las ONGs para lograr donaciones más eficientes y
          productivas.</p>
          <div class="row align-items-center text-center">
            <div class="col">
              <i class="far fa-handshake"></i><p class="d-none d-lg-block">Compromiso</p>
            </div>
            <div class="col">
              <i class="fas fa-users"></i><p class="d-none d-lg-block">Trabajo en equipo</p>
            </div>
          </div>
          <div class="row align-items-center text-center">
            <div class="col">
              <i class="fas fa-user-tie"></i><p class="d-none d-lg-block">Profesionalismo</p>
            </div>
            <div class="col">
              <i class="fas fa-hand-holding-water"></i><p class="d-none d-lg-block">Gestión transparente</p>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="container-fluid bg-white" id="quienessomos">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card-product-1 bg-white">
            <%= image_tag "victoria.jpg", class: "avatar", alt: "avatar" %>
            <div class="card-product-infos-1">
              <h2 class="text-center">Victoria Kennedy</h2>
              <p class="d-none d-lg-block text-center">Lic. en Comunicación Periodística.
              Voluntaria en el Barrio 31 de la Ciudad de Bs. As., en Colonia Barragan,
              Mar del Plata y Un Techo para mi País. Experiencia laboral en Cáritas Buenos Aires y
              Ministerio de Desarrollo Social de GCBA.</p>
              <p class="d-lg-none">Licenciada en Comunicación Periodística. Voluntaria en el Barrio 31 de CABA y Un Techo para mi País.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card-product-1 bg-white">

              <div class="card-product-infos-1 ">
                <h2 class="text-center">Julieta Iribarne</h2>
                <p class="d-none d-lg-block text-center">Maestra para el nivel primario.
                Voluntaria en la Villa 21-24, Villa Soldati, Geriátrico en la Ciudad de Bs As. Experiencia laboral
                Tutorías pedagógicas en la Fundación Haciendo Camino y
                Apoyo escolar a niños del nivel primario y secundario.</p>
                <p class="d-lg-none">Maestra para el Nivel Primario
                Voluntaria en la Villa 21-24, Villa Soldati y Geriátrico en la Ciudad de Buenos Aires.
                </p>
              </div>
              <%= image_tag "juli.jpg", class: "avatar", alt: "avatar" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   <div class="container">
    <div class="footer">
      <div class="footer-links">
        <a href="https://www.instagram.com/somostupuenteok/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/Somos-Tu-Puente-110626074453755" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="mailto: somostupuenteok@gmail.com"><i class="far fa-envelope"></i></a>
      </div>
      <div class="footer-copyright d-none d-lg-block">
        Proyecto hecho con <i class="fas fa-heart"></i> de Somos tu Puente
      </div>
       <div class="footer-copyright d-lg-none">
        Somos tu Puente <i class="fas fa-heart"></i>
      </div>
    </div>
   </div>
  </body>
</html>
