<!DOCTYPE html>
<html>
  <head>
    <title>Somos tu puente. Unimos.</title>
    <meta name="description" content="Conectamos ONGs con empresas que quieran donar.">
    <meta charset="utf-8">
  </head>
  <body>
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_url "manos.jpg" %>);">
      <div class="container">
        <h1><strong>Somos Tu Puente</strong></h1>
        <p>Conectamos empresas con ONGs para lograr donaciones que tengan impacto social.</p>
        <a class="button1" href="#proyectos"><strong>¡Conocé los proyectos!</strong></a>
      </div>
    </div>
    <div class="social">
      <ul>
        <li><a href="https://www.facebook.com/Somos-Tu-Puente-110626074453755" target="_blank" class="fab fa-facebook"></a></li>
        <li><a href="https://www.instagram.com/somostupuenteok/" target="_blank" class="fab fa-instagram"></a></li>
     <!--    <li><a href="http://www.googleplus.com/falconmasters" target="_blank" class="icon-googleplus"></a></li>
        <li><a href="http://www.pinterest.com/falconmasters" target="_blank" class="icon-pinterest"></a></li> -->
        <li><a href="mailto:contacto@somostupuente.com" class="fas fa-envelope"></a></li>
      </ul>
    </div>

    <div class="container">
      <h4><strong>Principales proyectos</strong></h4>
      <div class="row mb-3">
        <div class="col-md-4">
          <div class="card h-100">
            <%= image_tag "mujeres20001.jpg", alt: "Somos tu puente", class: "image-card" %>
            <div class="card h-100 shadow p-3 bg-body rounded">
              <p><%= image_tag "avatarmujeres.png", class: "avatar", alt: "avatar" %><strong> Mujeres 2000</strong></p>
              <div class="card border-white">
                <div class="modal fade" id="Modal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Acceder estudiando</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        El Programa Acceder Estudiando busca facilitar el acceso a la educación a través
                        de una ayuda económica mensual que le permite solventar gastos de estudio,
                        acompañamiento individual y asistencia académica a 5 jóvenes de barrios vulnerables
                        de la provincia de Buenos Aires.

                        <ul style="list-style-type:none" class="pt-3">
                          <p><i class="far fa-calendar-alt text-primary"></i> Tiempo total del proyecto: 6 meses</p>

                          <p><i class="fas fa-hand-holding-usd text-primary"></i> Monto total del proyecto: $362.000</p>

                          <p><i class="fas fa-graduation-cap text-primary"></i> Área: Educación</p>

                          <p><i class="fas fa-map-marker-alt text-primary"></i> Zona: Tigre, Buenos Aires</p>
                        </ul>
                      </div>
                      <div class="modal-footer">
                        <div class="text-center">
                          <a class="button1" href="https://docs.google.com/forms/d/e/1FAIpQLSc7fu_YA71RofMZG0VhdnjOPJ91iV-EKNPmIySWSEDMoVxgUw/viewform?usp=sf_link"
                          target="_blank"><strong>Quiero Donar</strong></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <h5 class="card-title text-center"><strong>Acceder estudiando</strong></h5>
                  <div class="container p-2">
                    <div class="row">
                      <div class="col text-center">
                        <p><i class="far fa-calendar-alt text-primary"></i> 6 meses</p>
                      </div>
                      <div class="col text-center">
                        <p><i class="fas fa-hand-holding-usd text-primary"></i> $362.000</p>
                      </div>
                    </div>
                  </div>
                  <div class="container p-2">
                    <div class="row">
                      <div class="col text-center">
                        <p><i class="fas fa-graduation-cap text-primary"></i> Educación</p>
                      </div>
                      <div class="col text-center">
                        <p><i class="fas fa-map-marker-alt text-primary"></i> Buenos Aires</p>
                      </div>
                    </div>
                  </div>
                  <div class="mb-3">
                    <div class="row">
                      <div class="col text-center">
                        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#Modal1">
                          <strong>+ Información</strong>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="progress">
                  <div class="progress-bar bg-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                      <span>0% recaudado</span>
                  </div>
                </div>
                <br>
                <div class="text-center">
                  <a class="button1" href="https://docs.google.com/forms/d/e/1FAIpQLSc7fu_YA71RofMZG0VhdnjOPJ91iV-EKNPmIySWSEDMoVxgUw/viewform?usp=sf_link"
                  target="_blank"><strong>Quiero Donar</strong></a>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-md-4">
          <div class="card h-100">
            <%= image_tag "taller.png", alt: "Somos tu puente", class: "image-card" %>
            <div class="card h-100 shadow p-3 bg-body rounded">
              <p><%= image_tag "avatarmonte.png", class: "avatar", alt: "avatar" %><strong> Monte Adentro </strong></p>
              <div class="card border-white">
                <div class="modal fade" id="Modal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Taller de oficios para mujeres</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Con el objetivo de empoderar a las mujeres y madres rurales para que puedan
                        generar ingresos que colaboren con el sostenimiento del hogar, brindamos
                        talleres de oficios semanales con un enfoque emprendedor en las disciplinas de
                        tejido, costura, manualidades y gastronomía, dictados por profesoras locales
                        formadas en dichas disciplinas. Participan 180 mujeres y madres rurales.
                        <ul style="list-style-type:none" class="pt-3">
                          <p><i class="far fa-calendar-alt text-primary"></i> Tiempo total del proyecto: 11 meses</p>

                          <p><i class="fas fa-hand-holding-usd text-primary"></i> Monto total del proyecto: $880.200</p>

                          <p><i class="fas fa-briefcase text-primary"></i> Área: Trabajo</p>

                          <p><i class="fas fa-map-marker-alt text-primary"></i> Zona: Tres Isletas, Chaco</p>
                        </ul>
                      </div>
                      <div class="modal-footer">
                        <div class="text-center">
                          <a class="button1" href="https://docs.google.com/forms/d/e/1FAIpQLSc7fu_YA71RofMZG0VhdnjOPJ91iV-EKNPmIySWSEDMoVxgUw/viewform?usp=sf_link"
                          target="_blank"><strong>Quiero Donar</strong></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <h5 class="card-title text-center"><strong>Taller de oficios para mujeres</strong></h5>
                    <div class="container p-2">
                      <div class="row">
                        <div class="col text-center">
                          <p><i class="far fa-calendar-alt text-primary"></i> 11 meses</p>
                        </div>
                        <div class="col text-center">
                          <p><i class="fas fa-hand-holding-usd text-primary"></i> $880.200</p>
                        </div>
                      </div>
                    </div>
                    <div class="container p-2">
                      <div class="row">
                        <div class="col text-center">
                          <p><i class="fas fa-briefcase text-primary"></i> Trabajo</p>
                        </div>
                        <div class="col text-center">
                          <p><i class="fas fa-map-marker-alt text-primary"></i> Chaco</p>
                        </div>
                      </div>
                    </div>
                    <div class="mb-3">
                      <div class="row">
                        <div class="col text-center">
                          <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#Modal2">
                           <strong>+ Información</strong>
                          </button>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="progress">
                  <div class="progress-bar bg-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                    <span>0% recaudado</span>
                  </div>
                </div>
                <br>
                <div class="text-center">
                  <a class="button1" href="https://docs.google.com/forms/d/e/1FAIpQLSc7fu_YA71RofMZG0VhdnjOPJ91iV-EKNPmIySWSEDMoVxgUw/viewform?usp=sf_link"
                  target="_blank"><strong>Quiero Donar</strong></a>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-md-4">
          <div class="card h-100">
            <%= image_tag "pilares.jpg", alt: "Somos tu puente", class: "image-card" %>
            <div class="card h-100 shadow p-3 bg-body rounded">
              <p><%= image_tag "avatarpilares.png", class: "avatar", alt: "avatar" %><strong> Pilares</strong></p>
              <div class="card border-white">
                <div class="modal fade" id="Modal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Primera infancia en familia</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        El proyecto busca promover el bienestar y la salud integral de 30 niños y niñas
                        de entre 0 y 5 años que viven en la villa 21-24 de Barracas (CABA). Se trabaja
                        en 4 dispositivos diferentes: Embarazo y primer año de vida, prevención de
                        la desnutrición y malnutrición, prevención de violencia de género con las madres
                        de niños y un dispositivo de juego y estimulación para el desarrollo.
                        <ul style="list-style-type:none" class="pt-3">
                          <p><i class="far fa-calendar-alt text-primary"></i> Tiempo total del proyecto: 12 meses</p>

                          <p><i class="fas fa-hand-holding-usd text-primary"></i> Monto total del proyecto: $540.000</p>

                          <p><i class="fas fa-medkit text-primary"></i> Área: Salud</p>

                          <p><i class="fas fa-map-marker-alt text-primary"></i> Zona: CABA</p>
                        </ul>
                      </div>
                      <div class="modal-footer">
                        <div class="text-center">
                          <a class="button1" href="https://docs.google.com/forms/d/e/1FAIpQLSc7fu_YA71RofMZG0VhdnjOPJ91iV-EKNPmIySWSEDMoVxgUw/viewform?usp=sf_link"
                          target="_blank"><strong>Quiero Donar</strong></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <h5 class="card-title text-center"><strong>Primera infancia en familia</strong></h5>
                  <div class="container p-2">
                    <div class="row">
                      <div class="col text-center">
                        <p><i class="far fa-calendar-alt text-primary"></i> 12 meses</p>
                      </div>
                      <div class="col text-center">
                        <p><i class="fas fa-hand-holding-usd text-primary"></i> $540.000</p>
                      </div>
                    </div>
                  </div>
                  <div class="container p-2">
                    <div class="row">
                      <div class="col text-center">
                        <p><i class="fas fa-medkit text-primary"></i> Salud</p>
                      </div>
                      <div class="col text-center">
                        <p><i class="fas fa-map-marker-alt text-primary"></i> CABA</p>
                      </div>
                    </div>
                  </div>
                  <div class="mb-3">
                    <div class="row">
                      <div class="col text-center">
                        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#Modal3">
                         <strong>+ Información</strong>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="progress">
                  <div class="progress-bar bg-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                      <span>0% recaudado</span>
                  </div>
                </div>
                <br>
                <div class="text-center">
                  <a class="button1" href="https://docs.google.com/forms/d/e/1FAIpQLSc7fu_YA71RofMZG0VhdnjOPJ91iV-EKNPmIySWSEDMoVxgUw/viewform?usp=sf_link"
                  target="_blank"><strong>Quiero Donar</strong></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- SEGUNDA FILA  -->

      <div class="row mb-3">
        <div class="col-md-4">
          <div class="card h-100">
            <%= image_tag "haciendocamino.jpg", alt: "Somos tu puente", class: "image-card" %>
            <div class="card h-100 shadow p-3 bg-body rounded">
              <p><%= image_tag "avatarhaciendo.png", class: "avatar", alt: "avatar" %><strong> Haciendo Camino</strong></p>
              <div class="card border-white">
                <div class="modal fade" id="Modal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Prevención de la desnutrición infantil</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Diagnóstico, prevención y recuperación nutricional de
                        87 niños de 0 a 5 años de la localidad de Monte Quemado,
                        provincia de Santiago del Estero. Mediante esta donación
                        los niños estarían accediendo semanalmente a 2kg leche,
                        48 pañales y los suplementos nutricionales que necesitan.
                        <ul style="list-style-type:none" class="pt-3">
                          <p><i class="far fa-calendar-alt text-primary"></i> Tiempo total del proyecto: 6 meses</p>

                          <p><i class="fas fa-hand-holding-usd text-primary"></i> Monto total del proyecto: $426.000</p>

                          <p><i class="fas fa-medkit text-primary"></i> Área: Salud</p>

                          <p><i class="fas fa-map-marker-alt text-primary"></i> Zona: Monte Quemado, Sgo. del Estero</p>
                        </ul>
                      </div>
                      <div class="modal-footer">
                        <div class="text-center">
                          <a class="button1" href="https://docs.google.com/forms/d/e/1FAIpQLSc7fu_YA71RofMZG0VhdnjOPJ91iV-EKNPmIySWSEDMoVxgUw/viewform?usp=sf_link"
                          target="_blank"><strong>Quiero Donar</strong></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <h5 class="card-title text-center"><strong>Nutrición infantil</strong></h5>
                  <div class="container p-2">
                    <div class="row">
                      <div class="col text-center">
                        <p><i class="far fa-calendar-alt text-primary"></i> 6 meses</p>
                      </div>
                      <div class="col text-center">
                        <p><i class="fas fa-hand-holding-usd text-primary"></i> $426.000</p>
                      </div>
                    </div>
                  </div>
                  <div class="container p-2">
                    <div class="row">
                      <div class="col text-center">
                        <p><i class="fas fa-medkit text-primary"></i> Salud</p>
                      </div>
                      <div class="col text-center">
                        <p><i class="fas fa-map-marker-alt text-primary"></i> Sgo. del Estero</p>
                      </div>
                    </div>
                  </div>
                  <div class="mb-3">
                    <div class="row">
                      <div class="col text-center">
                        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#Modal4">
                         <strong>+ Información</strong>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="progress">
                  <div class="progress-bar bg-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                    <span>0% recaudado</span>
                  </div>
                </div>
                <br>
                <div class="text-center">
                  <a class="button1" href="https://docs.google.com/forms/d/e/1FAIpQLSc7fu_YA71RofMZG0VhdnjOPJ91iV-EKNPmIySWSEDMoVxgUw/viewform?usp=sf_link"
                  target="_blank"><strong>Quiero Donar</strong></a>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-md-4">
          <div class="card h-100">
            <%= image_tag "3t.png", alt: "Somos tu puente", class: "image-card" %>
            <div class="card h-100 shadow p-3 bg-body rounded">
              <p><%= image_tag "avatar3t.png", class: "avatar", alt: "avatar" %><strong> Comunidad 3T</strong></p>
              <div class="card border-white">
                <div class="modal fade" id="Modal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Agricultura Familiar y Construcción Ecológica</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              Somos la comunidad 3T (tierra, techo y trabajo) integrada por 20 personas que,
                              atravesadas por la problemática del consumo, elegimos el campo como modo de vida
                              y trabajo produciendo la tierra. Actualmente estamos trabajando en fortalecer
                              nuestros Emprendimientos de Huerta, Gallinero, Plantines de Aromáticas y
                              Medicinales, Cabras, Apicultura y Dulces y Conservas y en la construcción
                              con  ladrillos de botellas de plástico (ecoladrillos-técnica de prensado).
                                <ul style="list-style-type:none" class="pt-3">
                                  <p><i class="far fa-calendar-alt text-primary"></i> Tiempo total del proyecto: 12 meses</p>

                                  <p><i class="fas fa-hand-holding-usd text-primary"></i> Monto total del proyecto: $750.000</p>

                                  <p><i class="fas fa-seedling text-primary"></i> Área: Ambiente</p>

                                  <p><i class="fas fa-map-marker-alt text-primary"></i> Zona: Marcos Paz, Buenos Aires</p>
                              </ul>
                            </div>
                      <div class="modal-footer">
                        <div class="text-center">
                          <a class="button1" href="https://docs.google.com/forms/d/e/1FAIpQLSc7fu_YA71RofMZG0VhdnjOPJ91iV-EKNPmIySWSEDMoVxgUw/viewform?usp=sf_link"
                        target="_blank"><strong>Quiero Donar</strong></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <h5 class="card-title text-center"><strong>Agricultura Familiar</strong></h5>
                    <div class="container p-2">
                      <div class="row">
                        <div class="col text-center">
                          <p><i class="far fa-calendar-alt text-primary"></i> 12 meses</p>
                        </div>
                        <div class="col text-center">
                          <p><i class="fas fa-hand-holding-usd text-primary"></i> $750.000</p>
                        </div>
                      </div>
                    </div>
                    <div class="container p-2">
                      <div class="row">
                        <div class="col text-center">
                          <p><i class="fas fa-seedling text-primary"></i> Ambiente</p>
                        </div>
                        <div class="col text-center">
                          <p><i class="fas fa-map-marker-alt text-primary"></i> Buenos Aires</p>
                        </div>
                      </div>
                    </div>
                  <div class="mb-3">
                    <div class="row">
                      <div class="col text-center">
                        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#Modal5">
                         <strong>+ Información</strong>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="progress">
                  <div class="progress-bar bg-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                      <span>0% recaudado</span>
                  </div>
                </div>
                <br>
                <div class="text-center">
                  <a class="button1" href="https://docs.google.com/forms/d/e/1FAIpQLSc7fu_YA71RofMZG0VhdnjOPJ91iV-EKNPmIySWSEDMoVxgUw/viewform?usp=sf_link"
                  target="_blank"><strong>Quiero Donar</strong></a>
                </div>
              </div>
            </div>
          </div>
        </div>



        <div class="col-md-4">
          <div class="card h-100">
            <%= image_tag "cunina1.jpg", alt: "Somos tu puente", class: "image-card" %>
            <div class="card h-100 shadow p-3 bg-body rounded">
              <p><%= image_tag "avatarcunina.png", class: "avatar", alt: "avatar" %><strong> Asociación Civil CUNINA</strong></p>
              <div class="card border-white">
                <div class="modal fade" id="Modal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Aplicación móvil para la restitución de derechos de los/as adolescentes.</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Pensamos una aplicación móvil que acerque a los/as adolescentes a los/as profesionales y recursos necesarios
                        para la restitución de sus derechos. La pensamos como una herramienta que les brinde información
                        que esté disponible para cuando ellos la demanden y que les permita conocer, mediante un lenguaje
                        digital, cuáles son sus derechos, qué recursos hay disponibles que les garantizan el acceso a ellos
                        y cómo los pueden ejercer.
                          <ul style="list-style-type:none" class="pt-3">
                            <p><i class="far fa-calendar-alt text-primary"></i> Tiempo total del proyecto: 4 meses</p>

                            <p><i class="fas fa-hand-holding-usd text-primary"></i> Monto total del proyecto: $150.000</p>

                            <p><i class="fas fa-medkit text-primary"></i> Área: Salud</p>

                            <p><i class="fas fa-map-marker-alt text-primary"></i> Zona: Caba</p>
                        </ul>
                      </div>
                      <div class="modal-footer">
                        <div class="text-center">
                          <a class="button1" href="https://docs.google.com/forms/d/e/1FAIpQLSc7fu_YA71RofMZG0VhdnjOPJ91iV-EKNPmIySWSEDMoVxgUw/viewform?usp=sf_link"
                          target="_blank"><strong>Quiero Donar</strong></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <h5 class="card-title text-center"><strong>Restitución de Derechos</strong></h5>
                    <div class="container p-2">
                      <div class="row">
                        <div class="col text-center">
                          <p><i class="far fa-calendar-alt text-primary"></i> 4 meses</p>
                        </div>
                        <div class="col text-center">
                          <p><i class="fas fa-hand-holding-usd text-primary"></i> $150.000</p>
                        </div>
                      </div>
                    </div>
                    <div class="container p-2">
                      <div class="row">
                        <div class="col text-center">
                          <p><i class="fas fa-medkit text-primary"></i> Salud</p>
                        </div>
                        <div class="col text-center p-1">
                          <p><i class="fas fa-map-marker-alt text-primary"></i> CABA</p>
                        </div>
                      </div>
                    </div>
                  <div class="mb-3">
                    <div class="row">
                      <div class="col text-center">
                        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#Modal6">
                         <strong>+ Información</strong>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="progress">
                  <div class="progress-bar bg-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                      <span>0% recaudado</span>
                  </div>
                </div>
                <br>
                <div class="text-center">
                  <a class="button1" href="https://docs.google.com/forms/d/e/1FAIpQLSc7fu_YA71RofMZG0VhdnjOPJ91iV-EKNPmIySWSEDMoVxgUw/viewform?usp=sf_link"
                  target="_blank"><strong>Quiero Donar</strong></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="row mb-3">
        <div class="col-md-4">
          <div class="card h-100">
            <%= image_tag "pata.jpg", alt: "Somos tu puente", class: "image-card" %>
            <div class="card h-100 shadow p-3 bg-body rounded">
              <p><%= image_tag "avatarpata.png", class: "avatar", alt: "avatar" %><strong> Asociación Civil Pata Pila </strong></p>
              <div class="card border-white">
                <div class="modal fade" id="Modal7" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Acceso al agua segura para comunidades originarias</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        El objetivo de este proyecto es garantizar el acceso al agua potable y segura en comunidades originarias del
                        norte de Salta, a través de grandes obras de infraestructura en las que participan los mismos integrantes 
                        de la comunidad. Este es un derecho humano indispensable para una vida digna: cada persona debe disponer de 
                        agua suficiente, saludable, aceptable, físicamente accesible y asequible para su uso personal y comunitario.
                        <ul style="list-style-type:none" class="pt-3">
                          <p><i class="far fa-calendar-alt text-primary"></i> Tiempo total del proyecto: 3 meses</p>

                          <p><i class="fas fa-hand-holding-usd text-primary"></i> Monto total del proyecto: $600.000</p>

                          <p><i class="fas fa-medkit text-primary"></i> Área: Salud</p>

                          <p><i class="fas fa-map-marker-alt text-primary"></i> Zona: Las comunidades El Porvenir, 
                          Bartolomé Menendez y José Pedro en la localidad de Santa Victoria Este, al norte de la provincia de Salta.</p>
                        </ul>
                      </div>
                      <div class="modal-footer">
                        <div class="text-center">
                          <a class="button1" href="https://docs.google.com/forms/d/e/1FAIpQLSc7fu_YA71RofMZG0VhdnjOPJ91iV-EKNPmIySWSEDMoVxgUw/viewform?usp=sf_link"
                          target="_blank"><strong>Quiero Donar</strong></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <h5 class="card-title text-center"><strong>Acceso al agua</strong></h5>
                  <div class="container p-2">
                    <div class="row">
                      <div class="col text-center">
                        <p><i class="far fa-calendar-alt text-primary"></i> 3 meses</p>
                      </div>
                      <div class="col text-center">
                        <p><i class="fas fa-hand-holding-usd text-primary"></i> $600.000</p>
                      </div>
                    </div>
                  </div>
                  <div class="container p-2">
                    <div class="row">
                      <div class="col text-center">
                        <p><i class="fas fa-medkit text-primary"></i> Salud</p>
                      </div>
                      <div class="col text-center">
                        <p><i class="fas fa-map-marker-alt text-primary"></i> Salta</p>
                      </div>
                    </div>
                  </div>
                  <div class="mb-3">
                    <div class="row">
                      <div class="col text-center">
                        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#Modal7">
                        <strong>+ Información</strong>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="progress">
                  <div class="progress-bar bg-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                      <span>0% recaudado</span>
                  </div>
                </div>
                <br>
                <div class="text-center">
                  <a class="button1" href="https://docs.google.com/forms/d/e/1FAIpQLSc7fu_YA71RofMZG0VhdnjOPJ91iV-EKNPmIySWSEDMoVxgUw/viewform?usp=sf_link"
                  target="_blank"><strong>Quiero Donar</strong></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card h-100">
            <%= image_tag "accionar.jpg", alt: "Somos tu puente", class: "image-card" %>
            <div class="card h-100 shadow p-3 bg-body rounded">
              <p><%= image_tag "avataraccionar.jpg", class: "avatar", alt: "avatar" %><strong> Grupo Accionar </strong></p>
              <div class="card border-white">
                <div class="modal fade" id="Modal8" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Termotanques solares</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Desde Accionar estamos trabajando para incorporar un centro de nutrición y primera infancia en 
                        el comedor Luján Ombú. Para eso tenemos que primero poner en condiciones el lugar. Como no se cuenta c
                        on conexión a gas natural se utilizan garrafas y otras veces se cocina a fuego. Para bajar el consumo 
                        de gas queremos instalar termotanques solares que den agua a 40° para que hierva más rápido y ahorrar 
                        gas.  
                        <ul style="list-style-type:none" class="pt-3">
                          <p><i class="far fa-calendar-alt text-primary"></i> Tiempo total del proyecto: 2 meses</p>

                          <p><i class="fas fa-hand-holding-usd text-primary"></i> Monto total del proyecto: $250.000</p>

                          <p><i class="fas fa-medkit text-primary"></i> Área: Salud</p>

                          <p><i class="fas fa-map-marker-alt text-primary"></i> Zona: Almirante Brown (Provincia de Buenos Aires)</p>
                        </ul>
                      </div>
                      <div class="modal-footer">
                        <div class="text-center">
                          <a class="button1" href="https://docs.google.com/forms/d/e/1FAIpQLSc7fu_YA71RofMZG0VhdnjOPJ91iV-EKNPmIySWSEDMoVxgUw/viewform?usp=sf_link"
                          target="_blank"><strong>Quiero Donar</strong></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <h5 class="card-title text-center"><strong>Termotanques solares</strong></h5>
                  <div class="container p-2">
                    <div class="row">
                      <div class="col text-center">
                        <p><i class="far fa-calendar-alt text-primary"></i> 2 meses</p>
                      </div>
                      <div class="col text-center">
                        <p><i class="fas fa-hand-holding-usd text-primary"></i> $250.000</p>
                      </div>
                    </div>
                  </div>
                  <div class="container p-2">
                    <div class="row">
                      <div class="col text-center">
                        <p><i class="fas fa-medkit text-primary"></i> Salud</p>
                      </div>
                      <div class="col text-center">
                        <p><i class="fas fa-map-marker-alt text-primary"></i> Buenos Aires</p>
                      </div>
                    </div>
                  </div>
                  <div class="mb-3">
                    <div class="row">
                      <div class="col text-center">
                        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#Modal8">
                        <strong>+ Información</strong>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="progress">
                  <div class="progress-bar bg-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                      <span>0% recaudado</span>
                  </div>
                </div>
                <br>
                <div class="text-center">
                  <a class="button1" href="https://docs.google.com/forms/d/e/1FAIpQLSc7fu_YA71RofMZG0VhdnjOPJ91iV-EKNPmIySWSEDMoVxgUw/viewform?usp=sf_link"
                  target="_blank"><strong>Quiero Donar</strong></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card h-100">
            <%= image_tag "somosfamilia.jpg", alt: "Somos tu puente", class: "image-card" %>
            <div class="card h-100 shadow p-3 bg-body rounded">
              <p><%= image_tag "avatarsomosfamilia.png", class: "avatar", alt: "avatar" %><strong> Somos Familia </strong></p>
              <div class="card border-white">
                <div class="modal fade" id="Modal9" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Proyecto Wichí</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        El proyecto wichi se centra en huerta y 
                        granja para la comunidad Wichí Misión La Chirola en Salta. El fin es generar alimento, trabajo y 
                        un ingreso económico para la comunidad. No obstante, hasta que todo esto esté en funcionamiento, 
                        todos los meses viajamos a la misión para entregar leche para los 22 bebés y aceite, arroz, fideos, 
                        harina y azúcar para las 49 familias de la misión. Cada familia es clasificada por cantidad de 
                        integrantes y bajo ese criterio se asignan las cantidades de alimentos. Cada bolsón está pensado 
                        especialmente para una familia y sus necesidades puntuales.
                        <ul style="list-style-type:none" class="pt-3">
                          <p><i class="far fa-calendar-alt text-primary"></i> Tiempo total del proyecto: 6 meses</p>

                          <p><i class="fas fa-hand-holding-usd text-primary"></i> Monto total del proyecto: $240.000</p>

                          <p><i class="fas fa-briefcase text-primary"></i> Área: Trabajo</p>

                          <p><i class="fas fa-map-marker-alt text-primary"></i> Zona: La Chirola, Dragones, Embarcación, Salta</p>
                        </ul>
                      </div>
                      <div class="modal-footer">
                        <div class="text-center">
                          <a class="button1" href="https://docs.google.com/forms/d/e/1FAIpQLSc7fu_YA71RofMZG0VhdnjOPJ91iV-EKNPmIySWSEDMoVxgUw/viewform?usp=sf_link"
                          target="_blank"><strong>Quiero Donar</strong></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <h5 class="card-title text-center"><strong>Proyecto Wichí</strong></h5>
                  <div class="container p-2">
                    <div class="row">
                      <div class="col text-center">
                        <p><i class="far fa-calendar-alt text-primary"></i> 6 meses</p>
                      </div>
                      <div class="col text-center">
                        <p><i class="fas fa-hand-holding-usd text-primary"></i> $240.000</p>
                      </div>
                    </div>
                  </div>
                  <div class="container p-2">
                    <div class="row">
                      <div class="col text-center">
                        <p><i class="fas fa-briefcase text-primary"></i> Trabajo</p>
                      </div>
                      <div class="col text-center">
                        <p><i class="fas fa-map-marker-alt text-primary"></i> Salta</p>
                      </div>
                    </div>
                  </div>
                  <div class="mb-3">
                    <div class="row">
                      <div class="col text-center">
                        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#Modal9">
                        <strong>+ Información</strong>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="progress">
                  <div class="progress-bar bg-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                      <span>0% recaudado</span>
                  </div>
                </div>
                <br>
                <div class="text-center">
                  <a class="button1" href="https://docs.google.com/forms/d/e/1FAIpQLSc7fu_YA71RofMZG0VhdnjOPJ91iV-EKNPmIySWSEDMoVxgUw/viewform?usp=sf_link"
                  target="_blank"><strong>Quiero Donar</strong></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



    <div class="container-fluid bg-white" id="comofunciona">
      <div class="container bg-white">
        <h4><strong>¿Cómo funciona?</strong></h4>
        <div class="row">
          <div class="col-sm">
            <div class="card-product bg-white">
              <div class="card-product-infos">
                <%= image_tag "paso1.png", alt: "Somos tu puente", class: "image-card-2"%>
                <p>La ONG carga el proyecto que quiere promocionar para recibir donaciones.</p>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card-product bg-white">
              <div class="card-product-infos">
                <%= image_tag "paso2.png", alt: "Somos tu puente", class: "image-card-2"%>
                <p>La empresa busca el proyecto para realizar su donación.</p>
              </div>
            </div>
          </div>
           <div class="col-sm">
            <div class="card-product bg-white">
              <div class="card-product-infos">
                <%= image_tag "paso3.png", alt: "Somos tu puente", class: "image-card-2"%>
                <p>La empresa selecciona el proyecto que desea.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <div class="card-product bg-white">
              <div class="card-product-infos">
              <%= image_tag "paso4.png", alt: "Somos tu puente", class: "image-card-2"%>
              <p>La empresa recibe la información con los datos de la ONG para realizar la donación.</p>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card-product bg-white">
              <div class="card-product-infos">
              <%= image_tag "paso5.png", alt: "Somos tu puente", class: "image-card-2"%>
              <p>La empresa y la ONG reciben una notificación de la donación realizada.</p>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card-product bg-white">
              <div class="card-product-infos">
              <%= image_tag "paso6.png", alt: "Somos tu puente", class: "image-card-2"%>
              <p>La empresa recibe un reporte con los avances y logros del proyecto.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  <div class="container" id="porque">
    <h4 class="d-none d-lg-block text-left"><strong>¿Por qué creamos un puente?</strong></h3>
    <h4 class="d-lg-none text-center"><strong>¿Por qué creamos un puente?</strong></h3>
          <p class="d-none d-lg-block text-left">La tarea que realizan las ONGs junto con las donaciones de las empresas es
          fundamental para generar un cambio social y ambiental. El vínculo entre ambas partes crea este ciclo
          de ayuda que se retroalimenta y produce un impacto positivo. Por eso creamos Somos Tu Puente: el puente
          que simplifica la relación entre las empresas y las ONGs para lograr donaciones más eficientes y
          productivas.</p>
                <p class="d-lg-none text-center">La tarea que realizan las ONGs junto con las donaciones de las empresas es
          fundamental para generar un cambio social y ambiental. El vínculo entre ambas partes crea este ciclo
          de ayuda que se retroalimenta y produce un impacto positivo. Por eso creamos Somos Tu Puente: el puente
          que simplifica la relación entre las empresas y las ONGs para lograr donaciones más eficientes y
          productivas.
          <div class="row align-items-center text-center">
            <div class="col mt-2">
              <i class="far fa-handshake text-primary fa-lg"></i><p>Compromiso</p>
            </div>
            <div class="col mt-2">
              <i class="fas fa-users text-primary fa-lg"></i><p>Trabajo en equipo</p>
            </div>
          </div>
          <div class="row align-items-center text-center">
            <div class="col mt-2">
              <i class="fas fa-user-tie text-primary fa-lg"></i><p>Profesionalismo</p>
            </div>
            <div class="col mt-2">
              <i class="fas fa-hand-holding-water text-primary fa-lg"></i><p>Gestión transparente</p>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="container-fluid bg-white" id="quienessomos">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
            <div class="card-product-1 bg-white">
              <%= image_tag "victoria.jpg", class: "avatar", alt: "avatar" %>
              <div class="card-product-infos-1 ">
                <h5 class="text-center d-none d-lg-block "><strong>Victoria Kennedy</strong></h5>
                <p class="text-center d-lg-none"><strong>Victoria Kennedy</strong></p>
                <p class="d-none d-lg-block text-center">Licenciada en Comunicación Periodística.
                Voluntaria en el Barrio 31 de CABA, en Colonia Barragan y Un Techo para mi País.
                Experiencia laboral en Cáritas Bs. As. y
                la Gerencia de Hogares y Paradores, Ministerio de Desarrollo Social, Gobierno de CABA.
                <p class="d-lg-none">
                <a href="https://www.linkedin.com/in/victoria-kennedy-85a4699a/" target="_blank"><i class="fab fa-linkedin fa-lg text-dark"></i></a>
                <a href="https://www.instagram.com/vikennedy/" target="_blank"><i class="fab fa-instagram fa-lg text-dark"></i></a>
              </div>
            </div>
          </div>
        <div class="col-sm-6">
            <div class="card-product-1 bg-white">
              <div class="card-product-infos-1 ">
                <h5 class="text-center d-none d-lg-block "><strong>Julieta Iribarne</strong></h5>
                <p class="text-center d-lg-none"><strong>Julieta Iribarne</strong></p>
                <p class="d-none d-lg-block text-center">Maestra para el nivel primario.
                Voluntaria en la Villa 21-24, Villa Soldati, Geriátrico en la Ciudad de Bs As. Experiencia laboral
                Tutorías pedagógicas en la Fundación Haciendo Camino y
                Apoyo escolar a niños del nivel primario y secundario.</p>
                <p class="d-lg-none">
                <a href="https://www.linkedin.com/in/julieta-iribarne-6a9734212/" target="_blank"><i class="fab fa-linkedin fa-lg  text-dark"></i></a>
                <a href="https://www.instagram.com/juliiribarne/" target="_blank"><i class="fab fa-instagram fa-lg  text-dark"></i></a>
                </p>
              </div>
              <%= image_tag "juli.jpg", class: "avatar", alt: "avatar" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="footer">
          <div class="footer-links">
            <ul style="list-style-type:none">
              <li><p class="text-center">
                <a href="https://www.instagram.com/somostupuenteok/" target="_blank"><i class="fab fa-instagram fa-1x"></i></a>
                <a href="https://www.facebook.com/Somos-Tu-Puente-110626074453755" target="_blank"><i class="fab fa-facebook fa-1x"></i></a></p></li>
              <li><p class="d-none d-lg-block text-center"><a href="#" target="_blank"><i class="fas fa-envelope fa-1x"></i></a>contacto@somostupuente.com</p></li>
              <li><p class="d-lg-none text-center">contacto@somostupuente.com</p></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
          <div class="footer-links">
            <ul style="list-style-type:none">
              <li><p class="d-none d-lg-block text-center">Proyecto hecho con <i class="fas fa-heart text-danger"></i> de Somos tu Puente</p>
                  <p class="d-lg-none text-center">Somos tu Puente <i class="fas fa-heart text-danger"></i></p></li>
              <li><p class="text-center">Copyright © 2021 - Todos los derechos reservados.</p></li>
            </ul>
          </div>
      </div>
      </div>
    </div>
  </body>
</html>