<!DOCTYPE html>
<html>
  <head>
        <title>Somos tu puente. Unimos.</title>
    <meta name="description" content="Conectamos ONGs con empresas que quieran donar.">
    <meta charset="utf-8">

  </head>
  <body>
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_url "manos.jpg" %>);">
      <div class="container">
        <h1><strong>Somos tu puente</strong></h1>
        <p>Conectamos empresas con ONGs para lograr donaciones que tengan impacto social.</p>
        <a class="button" href="#proyectos"><strong>¡Conocé los proyectos!</strong></a>
      </div>
    </div>

      <div class="container bg-light2" id="proyectos">
        <h4><strong>Principales proyectos</strong></h4>
        <div class="row">
          <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card h-100 shadow p-3 mb-5 bg-body rounded">
                <%= image_tag "mujeres20001.jpg", alt: "Somos tu puente", style: 'width:100%' %>
                <div class="card-body">
                  <%= image_tag "logomujeres2000.png", alt: "Somos tu puente", style: 'width:100%' %>
                  <h5 class="card-title font-italic"><strong>Acceder estudiando</strong></h5>
                  <p class="card-text">
                  <p class="text-justify ">El Programa Acceder Estudiando busca facilitar el acceso a
                  la educación a través de una ayuda económica mensual que le permite solventar gastos de
                  estudio, acompañamiento individual y asistencia académica a 5 jóvenes de barrios vulnerables
                  de la provincia de Buenos Aires. </p>
                  <p><i class="far fa-calendar-alt"></i> 6 meses</p>
                  <p><i class="fas fa-hand-holding-usd"></i> $362.000</p>
                  <p><i class="fas fa-graduation-cap"></i> Educación</p>
                </div>
                <div class="card-footer">
                  <p>Cuánto recaudamos?</p>
                  <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">60% completado</div>
                  </div>
                  <br>
                  <div class="text-center">
                    <button type="button" class="button"><strong>Quiero Donar</strong></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100 shadow p-3 mb-5 bg-body rounded">
                <%= image_tag "card.jpg", alt: "Somos tu puente", style: 'width:100%' %>
                <div class="card-body">
                  <h5 class="card-title"><strong>Haciendo Camino</strong></h5>
                  <h5 class="card-title font-italic">Taller de oficios</h5>
                  <p class="card-text">
                  <p class="text-justify">Se brinda capacitaciones en manualidades, costura, telar, tejito, gastronomía, carpintería y
                  peluquería a madres de 74 familias vulnerables en la provincia de Santiago del Estero. </p>
                  <p>Plazo: 12 meses</p>
                  <%= image_tag "", alt: "Logo Haciendo camino", style: 'width:100%' %>
                </div>
                <div class="card-footer">
                  <p>Monto: $618.921</p>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <br>
                  <div class="text-center">
                    <button type="button" class="button"><strong>Quiero Donar</strong></button>
                  </div>
                </div>
              </div>
              </div>
            <div class="col">
              <div class="card h-100 shadow p-3 mb-5 bg-body rounded">
                <%= image_tag "card.jpg", alt: "Somos tu puente", style: 'width:100%' %>
                <div class="card-body">
                  <h5 class="card-title">Nombre proyecto</h5>
                  <p class="card-text">
                  <p>ONG</p>
                  <p>Descripción</p>
                  <p>Plazo</p>
                </div>
                <div class="card-footer">
                  <p>Monto</p>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <br>
                  <div class="text-center">
                    <button type="button" class="button"><strong>Quiero Donar</strong></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="container-fluid bg-white" id="comofunciona">
      <div class="container bg-white">
        <h4><strong>¿Cómo funciona?</strong></h4>
        <div class="row">
          <div class="col-sm">
            <div class="card-product bg-white">
                <%= image_tag "paso1.png", alt: "Somos tu puente", style: 'width:150px' %>
              <div class="card-product-infos">
               <p>La ONG carga el proyecto quiera promocionar para recibir donaciones.</p>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card-product bg-white">
                <%= image_tag "paso2.png", alt: "Somos tu puente", style: 'width:150px' %>
              <div class="card-product-infos">
               <p>La empresa busca el proyecto para realizar su donación.</p>
              </div>
            </div>
          </div>
           <div class="col-sm">
            <div class="card-product bg-white">
                <%= image_tag "paso3.png", alt: "Somos tu puente", style: 'width:150px' %>
              <div class="card-product-infos">
               <p>La empresa selecciona el proyecto que desea.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <div class="card-product bg-white">
              <%= image_tag "paso4.png", alt: "Somos tu puente", style: 'width:150px' %>
              <div class="card-product-infos">
              <p>La empresa recibe la información con los datos de la ONG para realizar la donación.</p>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card-product bg-white">
              <%= image_tag "paso5.png", alt: "Somos tu puente", style: 'width:150px' %>
              <div class="card-product-infos">
              <p>La empresa y la ONG reciben una notificación de la donación realizada.</p>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card-product bg-white">
              <%= image_tag "paso6.png", alt: "Somos tu puente", style: 'width:150px' %>
              <div class="card-product-infos">
              <p>La ONG debe realizar un reporte a la empresa de los avances y logros del proyecto.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="container" id="quienessomos">
    <div class="row">
      <div class="col-sm">
       <h3><strong>¿Quienes somos?</strong></h3>
        <p class="text-justify">La tarea que realizan las ONGs es clave para generar un cambio social y
        ambiental. Y sabemos que el aporte de las empresas es fundamental en este ciclo de ayuda que
        se retroalimenta. Por eso creamos Somos Tu Puente: el puente que conecta a las empresas con las ONGs,
        a través de donaciones, para mejorar la calidad de vida y lograr una transformación social.</p>
        <div class="container">
          <div class="row row-cols-2">
            <div class="col"><i class="far fa-handshake"></i> Compromiso</div>
            <div class="col"><i class="fas fa-users"></i> Trabajo en equipo</div>
            <div class="col"><i class="fas fa-user-tie"></i> Profesionalismo</div>
            <div class="col"><i class="fas fa-hand-holding-water"></i> Gestión</div>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card-product">
          <%= image_tag "victoria.jpg", class: "avatar", alt: "avatar" %>
          <div class="card-product-infos">
            <h2>Victoria Kennedy</h2>
            <p>Lic. en Comunicación Periodística.
            Voluntaria en el Barrio 31 de la Ciudad de Bs As, en Colonia Barragan,
            Mar del Plata y Un Techo para mi País. Experiencia laboral en Cáritas Buenos Aires y
            la Gerencia de Hogares y Paradores, Min. de Desarrollo Social, Gob. de
            la Ciudad de Bs As.
            </p>
          </div>
        </div>
        <br>
        <div class="card-product">
          <%= image_tag "logomujeres2000.png", class: "avatar", alt: "avatar" %>
          <div class="card-product-infos">
            <h2>Julieta Iribarne</h2>
            <p>Profesora para el Nivel Primario.
            Voluntaria en la Villa 21-24, Villa Soldati, Geriátrico en la Ciudad de Bs As. Experiencia laboral
            Tutorías pedagógicas en la Fundación Haciendo Camino y
            Apoyo escolar a niños del nivel primario y secundario.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

   <div class="container">
    <div class="footer">
      <div class="footer-links">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="far fa-envelope"></i></a>
      </div>
      <div class="footer-copyright">
        Proyecto hecho con <i class="fas fa-heart"></i> de Somos tu Puente
      </div>
    </div>
   </div>

  </body>
</html>
