<!DOCTYPE html>
<html>
  <head>
    <title><"Somos Tu Puente"></title>
    <meta name="description" content="Conectamos empresas con ONGs para lograr donaciones que tengan impacto social.">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="Somos Tu Puente" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="logo2.png" />
    <meta property="og:description" content=""Conectamos empresas con ONGs para lograr donaciones que tengan impacto social."" />
    <meta property="og:site_name" content="Somos Tu Puente" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= favicon_link_tag asset_path('logo2.png') %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>
  </body>
</html>
